<div class="containers">
  <div class="dropdown">
   

    <button class="btn btn-primary" routerLink="/create-contact">Create Contact</button>
  </div>
  <div class="table_format">
    <table class="styled-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Contact Name</th>
          <th>Phone Number</th>
          <th>Date Created</th>
          <th>Date Updated</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active-row" *ngFor="let contact of contactList">
          <td>{{contact.id}}</td>
          <td>{{contact.name}}</td>
          <td>{{contact.phoneNumber}}</td>
          <td>{{contact.dateCreated | date:'medium'}}</td>
          <td>{{contact.updatedAt ? (contact.updatedAt | date:'medium') : ''}}</td>
          <td>
            <!-- <button type="button" class="btn btn-primary"><i class="far fa-eye">View</i></button>-->
            <button type="button" class="btn btn-success"><i class="fas fa-edit" routerLink="/edit-contact/{{contact.id}}">Edit</i></button>
            <button type="button" class="btn btn-danger" (click)="deleteContact(contact.id)"><i class="far fa-trash-alt">Delete</i></button>
          </td>
        </tr>
        <!--<tr class="active-row">
          <td>Melissa</td>
          <td>5150</td>
        </tr>-->
        <!-- and so on... -->
      </tbody>
    </table>
  </div>
</div>
